<h1 class="display-6">Лента записей</h1>

<br>

<% if current_user.present? %>
	<% if @following_list.count > 0 %>
		<% @questions_list.each do |ql| %>
			<div class="list-group">
				<a class="list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1"><%= User.find(ql[:user_id])[:nickname] %></h5>
						<small class="text-secondary"><%= ql[:created_at] %></small>
					</div>
					<p class="mb-1 text-break">
						<%= ql[:body] %>
					</p>
				</a>
			</div>
		<% end %>
	<% else %>
		<p class="fw-bolder fs-4">Вы еще ни на кого не подписаны</p>
	<% end %>
<% else %>
	<p class="fw-bolder fs-4">Вы не зашли в учетную запись</p>
<% end %>
