footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    padding: 50px;
}

@media screen and (max-width: 400px),
screen and (max-height: 600px) {
    footer {
        position: relative;
    }

    main {
        padding-bottom: 60%;
    }
}