<p class="fw-bolder fs-2">Лабораторная работа 1</p>
<div class="list-group">
	<a href="https://github.com/sueta1995/laba1" class="list-group-item list-group-item-action" aria-current="true">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">GitHub repo</h5>
		</div>
		<p class="mb-1">Ссылка на репозиторий GitHub с лабораторной работой.</p>
		<small class="text-muted">https://github.com/sueta1995/laba1</small>
	</a>

	<a href="/static/lr1" target="_blank" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Отчет лабораторной работы</h5>
		</div>
		<p class="mb-1">Отчет в .pdf и .odt форматах.</p>
		<small class="text-muted">https://sueta.fun/yip/lr1</small>
	</a>

	<a href="/static/lr1/lr1-tekst-first.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Обработка текста</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Выполните разметку HTML-страницы с использованием элементов семантической разметки
			текста. Напишите не менее 10 строк произвольного текста. Выделите в каждой строке несколько слов
			как более важные, значительно важные, добавьте математические формулы и пр. Также, с использованием
			семантической разметки, добавьте к тексту произвольные строки кода на любом языке программирования.
		</p>
		<small class="text-muted">https://sueta.fun/yip/lr1/lr1-tekst-first.html</small>
	</a>

	<a href="/static/lr1/lr1-tekst-second.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Обработка текста 2</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Подготовьте второй вариант разметки, отличающийся выделенными словами. Замените
			фрагменты, которые ранее отображались курсивом на фрагменты, отображаемые жирным шрифтом.</p>
		<small class="text-muted">https://sueta.fun/yip/lr1/lr1-tekst-second.html</small>
	</a>

	<a href="/static/lr1/lr1-tablici.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Таблицы</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Сформируйте HTML-страницу с фрагментом расписания занятий (используйте элемент
			table). Выберите фрагмент расписания таким образом, чтобы хотя бы в одном месте возникала
			необходимость объединения ячеек таблицы.</p>
		<small class="text-muted">https://sueta.fun/yip/lr1/lr1-tablici.html</small>
	</a>

	<a href="/static/lr1/lr1-registracia.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Форма регистрации</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Подготовьте разметку формы регистрации на произвольном сайте. Для расположения
			элементов используйте табличную верстку.</p>
		<small class="text-muted">https://sueta.fun/yip/lr1/lr1-registracia.html</small>
	</a>
</div>

<p class="fw-bolder fs-2">Лабораторная работа 2</p>
<div class="list-group">
	<a href="https://github.com/sueta1995/laba2" class="list-group-item list-group-item-action" aria-current="true">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">GitHub repo</h5>
		</div>
		<p class="mb-1">Ссылка на репозиторий GitHub с лабораторной работой.</p>
		<small class="text-muted">https://github.com/sueta1995/laba2</small>
	</a>

	<a href="/static/lr2" target="_blank" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Отчет лабораторной работы</h5>
		</div>
		<p class="mb-1">Отчет в .pdf и .odt форматах.</p>
		<small class="text-muted">https://sueta.fun/yip/lr2</small>
	</a>

	<a href="/static/lr2/lr2-obrabotka-teksta.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Оформление текста</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Подготовьте разметку произвольного текста, содержащего не менее 10 строк (могут быть
			использованы материалы из лабораторной работы No 1) с использованием таблицы стилей.
			Продемонстрируйте выделение отдельных слов с помощью стилей, цвета и шрифта.</p>
		<small class="text-muted">https://sueta.fun/yip/lr2/lr2-obrabotka-teksta.html</small>
	</a>

	<a href="/static/lr2/lr2-tablici.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Таблицы</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">С использованием элементов div подготовьте разметку таблицы, например, содержащей
			фрагмент расписания.</p>
		<small class="text-muted">https://sueta.fun/yip/lr2/lr2-tablici.html</small>
	</a>

	<a href="/static/lr2/lr2-bootstrap.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Bootstrap</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Возьмите шаблон страницы Bootstrap (см. Приложение Б методического пособия). Измените
			цвет фона навигационной панели и подвала сайта на свое усмотрение.

			Вставьте:

			место текста “Вставьте сюда форму” форму из лабораторной работы 1;

			на место текста “Вставьте сюда таблицу” произвольную таблицу (на основе элементов table/tr/td);

			на место текста “Вставьте сюда текст” блок разметки текста (из пункта 1).

			Добавьте классы Bootstrap в элементы формы, и заголовки таблицы.</p>
		<small class="text-muted">https://sueta.fun/yip/lr2/lr2-bootstrap.html</small>
	</a>
</div>

<p class="fw-bolder fs-2">Лабораторная работа 3</p>
<div class="list-group">
	<a href="https://github.com/sueta1995/laba3" class="list-group-item list-group-item-action" aria-current="true">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">GitHub repo</h5>
		</div>
		<p class="mb-1">Ссылка на репозиторий GitHub с лабораторной работой.</p>
		<small class="text-muted">https://github.com/sueta1995/laba3</small>
	</a>

	<a href="/static/lr3" target="_blank" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Отчет лабораторной работы</h5>
		</div>
		<p class="mb-1">Отчет в .pdf и .odt форматах.</p>
		<small class="text-muted">https://sueta.fun/yip/lr3</small>
	</a>

	<a href="/static/lr3/lr3-javascript.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Javascript</h5>
			<small class="text-success">Защищено</small>
		</div>
		<p class="mb-1">Написать Javascript-код для вывода дерева элементов страницы, с которой этот код
			запущен. Отступы для отображения формировать как символ 'nbsp';

			В процессе выполнения работы реализовать следующие пункты:

			Сформировать страницу с произвольным кодом разметки, но обеспечить уровень вложенности внутри
			элемента body не менее 3.

			добавить внутри элемента body секцию div, предназначенную для вывода результата обхода дерева
			элементов страницы.

			Выбрать способ активации рекурсивной программы обхода дерева элементов, реализовать и
			подключить эту программу.

			При проходе по узлам разметки обеспечить отладочный вывод в консоль. Привести в отчете
			содержимое консоли.

			Реализовать вывод на странице.</p>
		<small class="text-muted">https://sueta.fun/yip/lr3/lr3-javascript.html</small>
	</a>
</div>

<p class="fw-bolder fs-2">Лабораторная работа 4</p>
<div class="list-group">
	<a href="https://github.com/sueta1995/laba4" class="list-group-item list-group-item-action" aria-current="true">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">GitHub repo</h5>
		</div>
		<p class="mb-1">Ссылка на репозиторий GitHub с лабораторной работой.</p>
		<small class="text-muted">https://github.com/sueta1995/laba4</small>
	</a>

	<a href="/static/lr4" target="_blank" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Отчет лабораторной работы</h5>
		</div>
		<p class="mb-1">Отчет в .pdf и .odt форматах.</p>
		<small class="text-muted">https://sueta.fun/yip/lr4</small>
	</a>

	<a href="/static/lr4/lr4-oformlenie-zakazov.html" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Javascript</h5>
			<small class="text-danger">Не защищено</small>
		</div>
		<p class="mb-1">Разработать страницу для оформления заказа товаров.

		Реализовать форму для ввода наименования и стоимости. При нажатии на кнопку «Добавить», добавить
		введенные значения в таблицу.
		Сделать кнопку расчёта стоимости заказа.
		Поставить обработчик на изменение фона ячеек таблицы со стоимостью в тот момент, когда над ними
		находится указатель мыши.
		Подготовить страницу, содержащую таблицу товаров и их стоимости. На базе этой страницы обеспечить
		возможность выбора строк и добавления их в таблицу формирования заказа.</p>
		<small class="text-muted">https://sueta.fun/yip/lr4/lr4-oformlenie-zakazov.html</small>
	</a>
</div>

<div id="end-list"></div>